.user-profile-holder {
  height: 400px; /* Set desired height */
}

.bg-c-lite-blue {
  background: linear-gradient(to bottom right, #56CCF2, #2F80ED); /* Define your gradient colors */
}

.vh-100 {
  height: 100vh; /* Ensure div fills the entire viewport height */
}
