<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">
      <div class="card border-0 shadow-lg" style="max-width: 800px;">
        <div class="row m-0">
          <div class="col-md-5 user-profile-holder bg-info d-flex align-items-center justify-content-center" style="max-width: 400px;">
            <img [src]=user.imageUrl class="img-fluid rounded-circle mb-3 border border-white" alt="User-Profile-Image" style="width: 250px; height: 250px;">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="row mt-4">
                <h3 class="text-info mb-4">{{ user.firstName }} {{ user.lastName }}</h3>
                <div class="col-md-6">
                  <h6 class="font-weight-bold text-info mb-3">Personal</h6>
                  <p class="mb-2"><span class="text-muted">Username:</span> {{ user.username }}</p>
                  <p class="mb-2"><span class="text-muted">Email:</span> {{ user.email }}</p>
                  <p class="mb-2"><span class="text-muted">Phone:</span> {{ user.phone }}</p>
                  <p class="mb-2"><span class="text-muted">Date Of Birth:</span> {{ user.dateOfBirth | date: 'mediumDate' }}</p>
                </div>
                <div class="col-md-6">
                  <h6 class="font-weight-bold text-info mb-3">Others</h6>
                  <p class="mb-2"><span class="text-muted">Address:</span> {{ user.address }}</p>
                  <p class="mb-2"><span class="text-muted">Gender:</span> {{ user.gender }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
