<!-- <div class="container mt-2" style="width: 1000px;">
  <div *ngIf="userResp" class="card bg-info text-white mb-4">
    <div class="card-header">
      <h5>Random User API Info</h5>
    </div>
    <div class="card-body">
      <p class="card-text"><strong>Results:</strong> {{ userResp.info.results }}</p>
      <p class="card-text"><strong>Version:</strong> {{ userResp.info.version }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let user of userResp?.results; let i = index">
      <div class="card bg-light mb-4">
        <img src="{{ user.imageUrl }}" class="card-img-top rounded-circle mx-auto mt-2" style="height: 150px; width: 150px;" alt="User Image">
        <div class="card-body">
          <h5 class="card-title text-info">{{ user.firstName }} {{ user.lastName }}</h5>
          <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
          <p class="card-text"><strong>Phone:</strong> {{ user.phone }}</p>
          <p class="card-text"><strong>Address:</strong> {{ user.address }}</p>
          <a [routerLink]="['/user', user.uuid]" class="btn btn-info mx-auto d-block">View User</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container mt-2" style="width: 1000px;">
  <div *ngIf="userResp" class="card bg-info text-white mb-4">
    <div class="card-header">
      <h5>Random User API Info</h5>
    </div>
    <div class="card-body">
      <p class="card-text"><strong>Results:</strong> {{ userResp.info.results }}</p>
      <p class="card-text"><strong>Version:</strong> {{ userResp.info.version }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 d-flex" *ngFor="let user of userResp?.results; let i = index">
      <div class="card bg-light mb-4 flex-fill">
        <img src="{{ user.imageUrl }}" class="card-img-top rounded-circle mx-auto mt-2" style="height: 150px; width: 150px;" alt="User Image">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-info">{{ user.firstName }} {{ user.lastName }}</h5>
          <p class="card-text flex-grow-1"><strong>Email:</strong> {{ user.email }}</p>
          <p class="card-text flex-grow-1"><strong>Phone:</strong> {{ user.phone }}</p>
          <p class="card-text flex-grow-1"><strong>Address:</strong> {{ user.address }}</p>
          <a [routerLink]="['/user', user.uuid]" class="btn btn-info d-block">View User</a>
        </div>
      </div>
    </div>
  </div>
</div>
